/gat_ruwordnet_nouns.txt
/gat_ruwordnet_verbs.txt
/gat_wordnet_nouns_1.6.txt
/gat_wordnet_nouns_1.7.txt
/gat_wordnet_nouns_2.0.txt
/gat_wordnet_verbs_2.0.txt
/gat_wordnet_verbs_1.7.txt
/gat_wordnet_verbs_1.6.txt
