/gcn_ruwordnet_nouns.txt
/gcn_ruwordnet_verbs.txt
/gcn_wordnet_nouns_1.6.txt
/gcn_wordnet_nouns_1.7.txt
/gcn_wordnet_nouns_2.0.txt
/gcn_wordnet_verbs_2.0.txt
/gcn_wordnet_verbs_1.7.txt
/gcn_wordnet_verbs_1.6.txt
