/sage_ruwordnet_nouns.txt
/sage_ruwordnet_verbs.txt
/sage_wordnet_verbs_1.6.txt
/sage_wordnet_verbs_1.7.txt
/sage_wordnet_verbs_2.0.txt
/sage_wordnet_nouns_2.0.txt
/sage_wordnet_nouns_1.7.txt
/sage_wordnet_nouns_1.6.txt
